.mod-panel {
    margin: 0 30rpx;
    padding: 100rpx 0rpx 10rpx;
}

.mod-panel .search {
    position: relative;
    width: 100%;
}

input {
    font-family: Arial,Helvetica,"Microsoft Yahei";
    font-size: inherit;
    font-weight: inherit;
}

.mod-panel .search .input-text {
    padding: 8px 20% 8px 8px;
    display: block;
    height: 20px;
    /*border: 1px solid #ccc;*/
    line-height: 20px;
    outline: none;
    border-radius: 12px;
    box-shadow:0 0 4px rgba(0,0,0,.08);
}

.mod-panel .search .input-submit {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    width: 22.5%;
    background: #338ff0;
    border: medium none;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-align:center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.table {
    margin-top:40px;
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
}

.tbody {
    border: 1px solid rgba(0,0,0,.08);
    line-height: 24px;
    white-space: nowrap;
}

.th {
    padding: 6px 4px;
}

.jieguo {
    font-size: 17px;
    color: #338ff0;
    border-bottom: 1px solid rgba(0,0,0,.08);
    line-height: 24px;
    white-space: nowrap;
    margin-bottom: 0.133rem;
}

.chaxun {
    font-size: 12px;
    color: #212121;
    border-bottom: 1px solid rgba(0,0,0,.08);
    line-height: 24px;
    white-space: nowrap;
}

.fon {
    font-size: 12px;
}