/* pages/article/index.wxss */
.page-title {
    padding: 30rpx 30rpx;
    font-size: 46rpx;
    line-height: 1.5;
    border-bottom: 1rpx solid #f0f0f0;
}

.p {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
}

.h3 {
    padding: 20rpx 30rpx;
}

.article-info {
    border-bottom: none;
    padding-top: 10rpx;
}

.article-info .desc {
    font-size: 30rpx;
    text-align: justify;
}

.info {
    margin-bottom: 10rpx;
}

.cnbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

.rich-img {
    max-width: 100% !important;
    height: auto !important;
}

.prism-highlight {
    background-color: #eee;
}

swan-button[loading="true"]:before {
    margin-left: 12px;
}

swan-comment-list .mode-comment, swan-comment-list .mode-no-comment {
    height: 11.584vw;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 4.102666666666667vw;
    padding-right: 2.8986666666666663vw;
    border-top: 0.5px solid #d8d8d8;
}

swan-comment-list .mode-comment {
    justify-content: space-between;
}

swan-comment-list .mode-comment.secure-bottom {
    height: 21.244000000000003vw;
    padding-bottom: 9.661333333333333vw;
}

swan-comment-list .comment-list-toolbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #fff;
    z-index: 999;
    font-size: 3.865333333333333vw;
}

.d-inline-block {
    padding-top:20px;
    margin-right: .25rem!important;
    display: inline-block!important;
}

.badge-primary {
    color: #fff;
    background-color: #448EF6;
    border-radius: 2px;
    font-weight: 400;
    padding: .25em .3em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

/** 分享 **/

.reward-bt{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    margin-top: 24px;
    border:1px solid rgba(0,0,0,.2);
}


swan-follow-swan, swan-follow-swan[type=primary]:after {
    border-radius:30px;
    width:60px;
}
