/**index.wxss**/
/* 轮播图*/
.slide-image {
    width: 100%;
}

/* 圆点样式控制*/
.swiper-box {
    position: relative;
    width: 100%;
}

.dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10rpx 0;
    /*background:rgba(0,0,0,.2)*/
}

.dots .dot {
    margin: 0 8rpx;
    width: 14rpx;
    height: 14rpx;
    background: rgba(255, 255, 255, .8);
    border-radius: 8rpx;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.dots .dot.active {
    width: 40rpx;
    background: #338ff0;
}

/* 圆点样式控制*/
